<% if lines.blank? && !(skip_empty ||= false) -%><div class="line"></div><% end
-%><% lines&.split("\n").each do |line|
  truncate = ::CommandProposal::Iteration::TRUNCATE_COUNT
  -%><div class="line"><%= line.truncate(truncate) -%></div><%=
  if line.length > truncate
    link_to("Output truncated. Click here to download full result.", "data:application/txt,#{ERB::Util.url_encode(line)}", class: "cmd-truncated-download", download: "result.txt")
  end -%><%
end -%>
