<% if @task.iterations.many? %>
  <table class="cmd-table">
    <thead>
      <th>Timestamp / Link</th>
      <th>Status</th>
      <!-- <th># Comments</th> -->
      <!-- <th>Diff</th> -->
    </thead>
    <tbody>
      <% @task.iterations.order(created_at: :desc).each do |iteration| %>
        <tr>
          <td>
            <%= ">" if iteration == @iteration %>
            <%= link_to iteration.created_at.strftime("%b %-d, %Y at %H:%M"), cmd_path(@task, iteration: iteration.id) %>
          </td>
          <td><%= iteration.status.capitalize %></td>
          <!-- <td><%#= iteration.comments.count %></td> -->
          <!-- <td><%#= link_to "Diff", cmd_path(@task, iteration: @iteration.id, diff: iteration.id) %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
