<%= link_to "Edit", edit_task_path(@task) %>
<h3><%= @task.name %></h3>
<p><%= @task.description %></p>
<div class="command"><%= @task.code %></div>


<%
=begin

if running
  option to stop

if already run
  show previous results
  show option to request to run again

show previous runs

=end
%>
