.command-proposal {
  .btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid $border-grey;
    border-radius: 6px;
    background: linear-gradient(white, $background-grey);
    padding: 8px;
    color: $text-color;
    text-decoration: none;

    &:hover {
      background: linear-gradient($background-grey, $background-grey, white);
    }

    &.danger {
      background: linear-gradient($danger, darken($danger, 15%));
      color: white;

      &:hover {
        background: linear-gradient(darken($danger, 15%), $danger, $danger);
      }
    }

    &.primary {
      background: linear-gradient($cmd-blue, darken($cmd-blue, 15%));
      color: white;

      &:hover {
        background: linear-gradient(darken($cmd-blue, 15%), $cmd-blue, $cmd-blue);
      }
    }
  }

  // .search-area {
  //   display: flex;
  //   position: relative;
  //   flex-direction: row-reverse;
  //
  //   .filters {
  //     display: none;
  //     position: absolute;
  //     top: 60px;
  //     right: 0;
  //     left: 0;
  //     z-index: 100;
  //     transition: all 0.3s;
  //     box-shadow: 2px 2px 4px $border-grey;
  //     border: 3px solid $border-grey;
  //     border-radius: 4px;
  //     background: white;
  //     padding: 20px;
  //   }
  //
  //   input[name=filter_string] {
  //     box-shadow: 2px 2px 4px $border-grey;
  //     border: 2px solid $border-grey;
  //     border-radius: 4px;
  //     padding: 10px;
  //     width: 100%;
  //     height: auto;
  //     font-size: 32px;
  //   }
  //
  //   button[type=submit] {
  //     cursor: pointer;
  //     box-shadow: 2px 2px 4px $border-grey;
  //     border: 1px solid $border-grey;
  //     border-radius: 6px;
  //     background: linear-gradient($cmd-blue, darken($cmd-blue, 15%));
  //     padding: 0 12px;
  //     color: white;
  //     font-size: 18px;
  //
  //     &:hover {
  //       background: linear-gradient(darken($cmd-blue, 15%), $cmd-blue, $cmd-blue);
  //     }
  //   }
  //
  //   .filters.open {
  //     display: block;
  //   }
  // }
}
