.cmd-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  tr:nth-child(odd) td {
    background: lightgrey;
  }
  th,td {
    border: 1px solid grey;
  }
  th {
    padding: 5px;
  }
  td {
    padding: 3px;
  }
}
