.cmd-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  tr:nth-child(odd) {
    th, td {
      background: lightgrey;
    }
  }
  // Hack to stop the header from being highlighted, need high specificity.
  thead tr:nth-child(1) th { background-color: transparent; }
  th, td {
    border: 1px solid grey;
  }
  th {
    padding: 5px;
  }
  td {
    padding: 3px;
  }
}
